include README.md
recursive-include schemas *.json
recursive-include scripts *.py
recursive-include frontend *.html *.json *.md *.ts *.tsx
prune frontend/dist
prune frontend/node_modules
global-exclude __pycache__ *.py[cod] .DS_Store
